<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/admin/aInc/header :: headerFragment"></th:block>

<!-- content -->
<div class="container">
    <h3 class="text-center mt-4">관리자 홈</h3>

    <div class="mt-3">
        총 회원 : <span th:text="${#lists.size(list) + '명'}">총 회원자</span>
    </div>

    <div class="mt-2">
        총 상품 : <span th:text="${#lists.size(plist) + '개'}">총 상품개수</span>
    </div>
</div>

<th:block th:replace="/admin/aInc/footer :: footerFragment"></th:block>

</html>