<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="infoFragment">
<div class="container infoCon mt-4">
	<div class="infoLogo">
		<h3>Goods Shop</h3>
	</div>

	<div class="infoMenus">
		<ul class="infoMenu">
			<li class="infoMenuT">About</li>
			<li>처음 오셨나요?</li>
			<li>인쇄 퀄리티</li>
			<li>실시간 리뷰</li>
			<li>이벤트</li>
			<li>마플샵</li>
		</ul>

		<ul class="infoMenu">
			<li class="infoMenuT">Help</li>
			<li>주문/결제 문의</li>
			<li>제작/단체 문의</li>
			<li>이미지/프린팅 문의</li>
		</ul>

		<ul class="infoMenu">
			<li class="infoMenuT">Follow us</li>
			<ul class="infoMenuCon">
				<li>Twitter</li>
				<li>Facebook</li>
				<li>Instagram</li>
				<li>Youtube</li>
				<li>Blog</li>
			</ul>
		</ul>

		<ul class="infoMenu">
			<li class="infoMenuT">Contact us</li>
			<li>0000-0000</li>
			<li>상담가능시간 : 평일 10:00 ~ 18:00</li>
			<li>help@goods.com</li>
		</ul>
	</div>

</div>
</th:block>