<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/admin/aInc/header :: headerFragment"></th:block>

<div class="container mt-4">
    <h3 class="mt-3 mb-4 text-center">공지사항</h3>

    <table class="table text-center mt-3 table-hover">
        <thead>
            <tr>
                <th style="width:15%;">게시글 번호</th>
                <th style="width:13%;">작성자</th>
                <th>제목</th>
                <th style="width:10%;">등록일</th>
                <th style="width:80px;">삭제</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="notice : ${list}">
                <tr style="line-height:45px;">
                    <td th:text="${notice.no}" style="width:15%;">번호</td>
                    <td th:text="${notice.writer}" style="width:13%;">작성자</td>
                    <td style="text-align:left;">
                        <a th:href="@{/admin/noticeModify(no=${notice.no})}">
                            <span th:text="${notice.title}">제목</span>
                        </a>
                    </td>
                    <td th:text="${#dates.format(notice.InDate, 'yyyy-MM-dd')}" style="width:10%;">등록일</td>
                    <td><a th:href="@{/admin/noticeDel(no=${notice.no})}" class="btn btn-danger" style="width:80px;">삭제</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>

    <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${page.prevPage} <= 0 ? disabled">
            <a class="page-link" th:href="@{/admin/notice(viewPage=${page.prevPage})}">이전</a>
        </li>

        <th:block th:each="i : ${#numbers.sequence(page.blockStart, page.blockEnd)}">
            <th:block th:if="${i != 0}">
                <li class="page-item" th:classappend="${page.viewPage == i} ? 'active':''">
                    <a class="page-link" th:href="@{/admin/notice(viewPage=${i})}">[[${i}]]</a>
                </li>
            </th:block>
        </th:block>

        <li class="page-item" th:classappend="${page.blockEnd >= page.totalPage} ? 'disabled':''">
            <a class="page-link" th:href="@{/admin/notice(viewPage=${viewPage${i})}}">다음</a>
        </li>
    </ul>

    <div class="text-center">
        <a class="btn btn-color" href="/admin/noticeIn">공지사항 등록</a>
    </div>
</div>


<th:block th:replace="/admin/aInc/footer :: footerFragment"></th:block>
</html>